@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC' !important;
    font-weight: 300 !important;
    padding:0;
    margin:0;
}

main{
    padding-top:30px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background: #3b5998;
    box-sizing: border-box;
    line-height: 60px;
}

.navbar-title{
    color:white;
    margin: 0;
    font-size:22px !important;
    font-family: 'Noto Sans TC' !important;
    line-height: 60px !important;
}

.text-center{
    text-align: center;
}

.fieldlist {
    margin: 0 0 3px;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 10px;
}

table .k-button {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
}

/* ===== 借閱人目錄遮罩 ===== */
.modal-mask {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* 視窗本體 */
.modal-window {
    background: #fff;
    width: 800px;
    max-height: 80%;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* header */
.modal-header {
    padding: 10px 15px;
    background: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* body */
.modal-body {
    padding: 10px;
    overflow-y: auto;
    max-height: calc(80vh - 50px);
}